*~
.~lock.*#
*.backup
*.old
*.aux
*.blg
*.bbl
*.bib.bak
*.pyc
.swp.*
qt_temp.*
build
debian/python-module-stampdir/
debian/files
debian/dvcs-autosync/
debian/dvcs-autosync.substvars
debian/dvcs-autosync.*debhelper*
